<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="excelPath2" value="d:\OneDrive\Dev\C#\DWScriptChangeSample\샘플2016-01-06\" />
  </appSettings>
  <connectionStrings>
    <add name="dwConn" connectionString="Server=localhost;Database=LiteMeta;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>